.container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.loading {
  width: 100%;
  height: 100vh;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  font-weight: 1000;
  font-size: x-large;
}

.pageName {
  padding: 20px;
  font-style: italic;
  text-align: center;
}

.movies {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 50px 75px;
}
